{%  extends 'accounts/main.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Cliente:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Atualizar Cliente</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Deletar Cliente</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Informações para contato</h5>
			<hr>
			<p>Email: </p>
			<p>Phone: </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total de Pedidos</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">yyyyy</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Pesquisar</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Produto</th>
					<th>Categoria</th>
					<th>Data do Pedido</th>
					<th>Status</th>
					<th>Atualizar</th>
					<th>Remover</th>
				</tr>

				

				<tr>
					<td>ee</td>
					<td>eee</td>
					<td>eeeee</td>
					<td>rrrrrrrr</td>
					<td><a class="btn btn-sm btn-info" href="#">Atualizar</a></td>

					<td><a class="btn btn-sm btn-danger" href="#">Deletar</a></td>
				</tr>
				

			</table>
		</div>
	</div>
</div>

{% endblock %}