{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Deseja realmente remover este pedido "{{item}}"?</p>

			<form action="{% url 'remove_pedido' item.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'home' %}">Cancelar</a>

				<input class="btn btn-danger" type="submit" name="Confirm" value="CONFIRMAR">
			</form>
		</div>
	</div>
</div>

{% endblock %}