{%  extends 'accounts/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Produtos</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Produtos</th>
							<th>Categoria</th>
							<th>Preço</th>
						</tr>

						
						{% for i in produtos %}
							<tr>
								<td>{{i.name}}</td>
								<td>{{i.category}}</td>
								<td>{{i.price}}</td>
							</tr>
						{% endfor %}
						
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}