<br>
<div  class="container-fluid">
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Todos Pedidos</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_Pedidos}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="orders-delivered1">
			  	<div class="card-header">
			  		<h5 class="card-title">Pedidos para entrega</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{entregues}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Pedidos Pendentes</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pendentes}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
</div>